version: '{build}'
image: Visual Studio 2015
platform:
- x86
# - x64
environment:
  global:
    DISTUTILS_USE_SDK: 1
    PYTHONWARNINGS: ignore:DEPRECATION
    MSSdk: 1
  matrix:
  # - PYTHON: 27
  # - PYTHON: 36
  - CONDA: 27
  - CONDA: 36
clone_script:
- cmd: git clone -q --recursive --branch=%APPVEYOR_REPO_BRANCH% https://github.com/%APPVEYOR_REPO_NAME%.git %APPVEYOR_BUILD_FOLDER%
- cmd: git checkout -qf %APPVEYOR_REPO_COMMIT%
install:
- cmd: '"%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM%'
- ps: |
    if ($env:PYTHON) {
      if ($env:PLATFORM -eq "x64") { $env:PYTHON = "$env:PYTHON-x64" }
      $env:PATH = "C:\Python$env:PYTHON\;C:\Python$env:PYTHON\Scripts\;$env:PATH"
      python -m pip install --disable-pip-version-check --user --upgrade pip setuptools
    } elseif ($env:CONDA) {
      if ($env:CONDA -eq "27") { $env:CONDA = "" }
      if ($env:PLATFORM -eq "x64") { $env:CONDA = "$env:CONDA-x64" }
      $env:PATH = "C:\Miniconda$env:CONDA\;C:\Miniconda$env:CONDA\Scripts\;$env:PATH"
      conda config --set always_yes yes --set changeps1 no
      conda config --add channels conda-forge
      conda update -n base -c defaults conda
      conda install -q conda-build
    }
build_script:
- ps: |
    echo "file://$pwd/build"
    curl https://bitbucket.org/eigen/eigen/get/3.3.7.zip -o "C:\eigen.zip"
    7z x "C:\eigen.zip" -o"C:\Libraries\"
    $env:EIGEN3_ROOT="C:\Libraries\eigen-eigen-323c052e1731"
    $env:BOOST_ROOT="C:\Libraries\boost_1_60_0"

    if ($env:PYTHON) {
      python setup.py sdist
      cd dist
      python -m pip install --verbose pyvinecopulib-0.0.1.tar.gz
      cd ..
    } else {
      conda build -q conda.recipe --output-folder="build"
      conda config --add channels "file://$pwd/build"
      conda create -q -n test-environment pyvinecopulib
      source activate test-environment
      conda install --use-local pyvinecopulib
    }
test_script:
- ps: |
    python -m pip install pytest
    python -m pytest tests\test.py -r a
# on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

