version: '{build}'
image: Visual Studio 2015
platform:
  - x86
  - x64
environment:
  global:
    DISTUTILS_USE_SDK: 1
    PYTHONWARNINGS: ignore:DEPRECATION
    MSSdk: 1
  matrix:
  - CONDA: 36
    PYTHON_VERSION: 3.6
  - PYTHON: 27
  - PYTHON: 36
clone_script:
- ps: |
    if(-not $env:appveyor_pull_request_number) {
      git clone -q --recursive --branch=$env:appveyor_repo_branch https://github.com/$env:appveyor_repo_name.git $env:appveyor_build_folder
      git checkout -qf $env:appveyor_repo_commit
    } else {
      git clone -q --recursive https://github.com/$env:appveyor_repo_name.git $env:appveyor_build_folder
      git fetch -q origin +refs/pull/$env:appveyor_pull_request_number/merge
      git checkout -qf FETCH_HEAD
    }
install:
- cmd: '"%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM%'
- ps: |
    if ($env:PYTHON) {
      if ($env:PLATFORM -eq "x64") { $env:PYTHON = "$env:PYTHON-x64" }
      $env:PATH = "C:\Python$env:PYTHON\;C:\Python$env:PYTHON\Scripts\;$env:PATH"
      python -m pip install --disable-pip-version-check --user --upgrade pip setuptools
      python -m pip install pytest
    } elseif ($env:CONDA) {
      if ($env:CONDA -eq "27") { $env:CONDA = "" }
      if ($env:PLATFORM -eq "x64") { $env:CONDA = "$env:CONDA-x64" }
      $env:PATH = "C:\Miniconda$env:CONDA\;C:\Miniconda$env:CONDA\Scripts\;$env:PATH"
    }
# conda still has issues with ps, so we all conda stuff is executed using cmd
- cmd: |
    IF DEFINED CONDA conda config --set always_yes yes --set changeps1 no
    IF DEFINED CONDA conda config --add channels conda-forge
    IF DEFINED CONDA conda update -q conda
    IF DEFINED CONDA conda install -q conda-build conda-verify pytest anaconda-client
build_script:
- ps: |
    if ($env:PYTHON) {
      python setup.py sdist
      cd dist
      python -m pip install --verbose pyvinecopulib-0.0.1.tar.gz
      cd ..
    }
# the channel must not contain backslashes (they're replaced by %cd:\=/%)
- cmd: |
    IF DEFINED CONDA conda build -q conda.recipe --python=%PYTHON_VERSION% --output-folder=build
    IF DEFINED CONDA conda config --add channels "file:///%cd:\=/%/build"
    IF DEFINED CONDA conda create -q -n test-environment python=%PYTHON_VERSION% pyvinecopulib pytest
    IF DEFINED CONDA activate test-environment && python -m pytest tests -r a
    IF DEFINED PYTHON python -m pytest tests -r a
on_success:
# IF %APPVEYOR_REPO_TAG% 
- cmd: |
    IF DEFINED CONDA activate test-environment && anaconda upload -u vinecopulib -t %CONDA_UPLOAD_TOKEN% build/**/pyvinecopulib-*.tar.bz2
# - ps: |
# TODO
#    python -m pip install nbconvert jupyter_client ipykernel
#    python -m ipykernel install --user
#    foreach ($i in Get-ChildItem "examples" -Filter *.ipynb) {
#      jupyter nbconvert --to markdown --execute --stdout $i.fullame > "$($i.fullname).md.travis"
#      diff "$($i.fullname).md.repo" "$($i.fullname).md.travis"
#    }

# on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

