version: '{build}'
image: Visual Studio 2015
platform:
- x86
- x64
environment:
  global:
    DISTUTILS_USE_SDK: 1
    PYTHONWARNINGS: ignore:DEPRECATION
    MSSdk: 1
  matrix:
  - PYTHON: 27
  - PYTHON: 36
  - CONDA: 27
  - CONDA: 36
clone_script:
- cmd: git clone -q --recursive --branch=%APPVEYOR_REPO_BRANCH% https://github.com/%APPVEYOR_REPO_NAME%.git %APPVEYOR_BUILD_FOLDER%
- cmd: git checkout -qf %APPVEYOR_REPO_COMMIT%
install:
- cmd: '"%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM%'
- ps: |
    if ($env:PYTHON) {
      if ($env:PLATFORM -eq "x64") { $env:PYTHON = "$env:PYTHON-x64" }
      $env:PATH = "C:\Python$env:PYTHON\;C:\Python$env:PYTHON\Scripts\;$env:PATH"
      python -m pip install --disable-pip-version-check --user --upgrade pip setuptools
    } elseif ($env:CONDA) {
      if ($env:CONDA -eq "27") { $env:CONDA = "" }
      if ($env:PLATFORM -eq "x64") { $env:CONDA = "$env:CONDA-x64" }
      $env:PATH = "C:\Miniconda$env:CONDA\;C:\Miniconda$env:CONDA\Scripts\;$env:PATH"
      conda config --set always_yes yes --set changeps1 no
      conda config --add channels conda-forge
      conda update -q conda
      conda install -q conda-build
      conda update -n base conda
    }
build_script:
- ps: |
    if ($env:PYTHON) {
      wget http://bitbucket.org/eigen/eigen/get/3.3.7.zip -OutFile eigen.zip
      7z x eigen.zip -o"C:\Libraries" -y > nul
      $env:Eigen3_ROOT="C:\Libraries\eigen-eigen-323c052e1731"
      ls "C:\Libraries\eigen-eigen-323c052e1731"
      $env:Eigen3_DIR="C:\Libraries\eigen-eigen-323c052e1731\cmake"
      $env:CMAKE_MODULE_PATH="C:\Libraries\eigen-eigen-323c052e1731\cmake;$env:CMAKE_MODULE_PATH"
      $env:CMAKE_INCLUDE_PATH="C:\Libraries\eigen-eigen-323c052e1731\cmake;$env:CMAKE_INCLUDE_PATH"
      $env:BOOST_ROOT="C:\Libraries\boost_1_60_0"
      python setup.py sdist
      cd dist
      python -m pip install --verbose pyvinecopulib-0.0.1.tar.gz
      cd ..
    } else {
      echo "conda build conda.recipe"
      conda build conda.recipe
      echo "conda install --use-local pyvinecopulib"
      conda install --use-local pyvinecopulib
    }
test_script:
- ps: python tests\test.py
