version: '{build}'
image: Visual Studio 2015
platform:
  - x86
  - x64
environment:
  global:
    DISTUTILS_USE_SDK: 1
    PYTHONWARNINGS: ignore:DEPRECATION
    MSSdk: 1
  matrix:
  - CONDA: 36
    PYTHON_VERSION: 3.6
  - PYTHON: 27
  - PYTHON: 36
clone_script:
- ps: |
    if(-not $env:appveyor_pull_request_number) {
      git clone -q --recursive --branch=$env:appveyor_repo_branch https://github.com/$env:appveyor_repo_name.git $env:appveyor_build_folder
      git checkout -qf $env:appveyor_repo_commit
    } else {
      git clone -q --recursive https://github.com/$env:appveyor_repo_name.git $env:appveyor_build_folder
      git fetch -q origin +refs/pull/$env:appveyor_pull_request_number/merge
      git checkout -qf FETCH_HEAD
    }
install:
- cmd: '"%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM%'
- ps: |
    if ($env:PYTHON) {
      if ($env:PLATFORM -eq "x64") { $env:PYTHON = "$env:PYTHON-x64" }
      $env:PATH = "C:\Python$env:PYTHON\;C:\Python$env:PYTHON\Scripts\;$env:PATH"
      python -m pip install --disable-pip-version-check --user --upgrade pip setuptools
      python -m pip install pytest
    } elseif ($env:CONDA) {
      if ($env:CONDA -eq "27") { $env:CONDA = "" }
      if ($env:PLATFORM -eq "x64") { $env:CONDA = "$env:CONDA-x64" }
      $env:PATH = "C:\Miniconda$env:CONDA\;C:\Miniconda$env:CONDA\Scripts\;$env:PATH"

      conda config --set always_yes yes --set changeps1 no
      conda config --add channels conda-forge
      conda update -q conda

      # nee pscondaenvs to activate envs in powershell 
      # https://stackoverflow.com/a/52552397
      conda install -n root -c pscondaenvs pscondaenvs
      conda install -q conda-build conda-verify pytest  # for unit tests
    }
build_script:
- ps: |
    if ($env:PYTHON) {
      python setup.py sdist
      cd dist
      python -m pip install --verbose pyvinecopulib-0.0.1.tar.gz
      cd ..
    } else {
      # path to file channel must not have back slashes
      $string = "$pwd"
      $string = $string -replace '[\\]', '/'
    }
- cmd: |
    conda build -q conda.recipe --python=$PYTHON_VERSION --output-folder=build
    conda config --add channels "file:///%string%/build"

    conda create -q -n test-environment python=$PYTHON_VERSION pyvinecopulib pytest
    activate test-environment
test_script:
- ps: |
    python -m pytest tests -r a
- ps: |
# TODO
#    python -m pip install nbconvert jupyter_client ipykernel
#    python -m ipykernel install --user
#    foreach ($i in Get-ChildItem "examples" -Filter *.ipynb) {
#      jupyter nbconvert --to markdown --execute --stdout $i.fullame > "$($i.fullname).md.travis"
#      diff "$($i.fullname).md.repo" "$($i.fullname).md.travis"
#    }

# on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

