# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.h        text
*.hpp      text
*.cpp      text
*.cxx      text
*.txx      text
*.qrc      text
*.ui       text
*.txt      text
*.cmake    text
*.cmake.in text
*.bat      text
*.bat.in   text
