# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python stuff
*.py[cod]
*.egg-info
*.pyc

# Emacs file
*~

*.user

#build, bin and Lion related dirs
_build/
_generate/
include/git_revision.hpp
bin/
build/
cmake-build-debug/
cmake-build/
.idea/
examples/*/build/
examples/*/bin/
compile_commands.json
.vscode/

# Ctags
src/tags

# Windows image file caches
Thumbs.db
ehthumbs.db
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows shortcuts
*.lnk
# OSX
.idea/*
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

