[submodule "lib/wdm"]
	path = lib/wdm
	url = https://github.com/tnagler/wdm
[submodule "lib/vinecopulib"]
	path = lib/vinecopulib
  url = https://github.com/vinecopulib/vinecopulib.git
  branch = dev
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
