*.pyc
*~
# Mercurial:
.hg*
# IntelliJ config files:
/.idea
# Eclipse config files:
/.cproject
/.project
# QtCreator config files:
/*.config
/*.creator
/*.creator.user
/*.files
/*.includes
/*.autosave
/CMakeLists.txt.user*
# Mac Finder:
.DS_Store
# CLion/IntelliJ
*cmake-build-debug
.idea/*

# From building python wheels, (normally using CI servers).
build/
dist/
*.egg-info
