[submodule "lib/wdm"]
	path = lib/wdm
	url = https://github.com/tnagler/wdm
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11
[submodule "lib/vinecopulib"]
	path = lib/vinecopulib
  url = https://github.com/vinecopulib/vinecopulib.git
  branch = dev
