include README.md LICENSE requirements.txt
include requirements.txt
recursive-include src *
recursive-include lib/boost *.hpp *.h
recursive-include lib/eigen/Eigen *
recursive-include lib/eigen/unsupported/Eigen *
recursive-include lib/pybind11/include *.h
recursive-include lib/wdm/include *.hpp
recursive-include lib/vinecopulib/include *.hpp *.ipp
