name: Test package

on: [push]

jobs:
  build:

    strategy:
      fail-fast: false
      max-parallel: 16
      matrix:
        platform: [windows-latest]
        architecture: ["x86", "x64"]
        include:
          - architecture: "x86"
            platform-vcvars: "x86"
            platform-msbuild: "Win32"
          - architecture: "x64"
            platform-vcvars: "x86_amd64"
            platform-msbuild: "x64"
        # platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.5, 3.6, 3.7]

    runs-on: ${{ matrix.platform }}

    steps:
    - name: Checkout project 
      uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude=lib
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --exclude=lib
    - name: Create source distribution 
      run: |
        python setup.py sdist
    - name: Visual Studio Command Prompt tool
      if: contains(matrix.platform, 'windows')
      run: |
        cmd "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" ${{ matrix.platform-vcvars }} -vcvars_ver=14.0
    - name: Install package 
      run: |
        pip install --find-links=dist --verbose pyvinecopulib
    - name: Test with pytest
      run: |
        pip install pytest
        pytest tests -r a
